<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <h1>Now you are in the test Dan's TestView !! 🏆</h1>

    <form method="get" action="/home/details">
        <button type="submit">Go back to details View</button>
    </form>

</body>
</html>